.escolhas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #077187;
    width: 150px;
    height: 70px;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    border-radius: 0.4em;
}

@media screen and (max-width: 768px) {
    .escolhas{
        flex-direction: column;
    }
    .botao-menu{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}